* {
  --primary-color: #F20055;
  --secondary-color: #686868;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.container__form {
  margin-top: 10%;
  width: 340px;
  border-top: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--secondary-color);
  border-radius: 3px;
  background-color: #eaeaea;
  padding: 1.5rem;
}

form input {
  width: 100%;
  margin: .3rem 0 .7rem 0;
}

form button[type="submit"]  {
  border: none;
  background-color: var(--primary-color);
  border-radius: 3px;
  color: #fff;
  padding: .2rem 1.5rem;
  margin: .5rem .5rem 0 0;
}

form button[type="reset"]  {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 3px;
  color: #fff;
  padding: .2rem 1.5rem;
  margin: .5rem .5rem 0 0;
}

.error {
  color: var(--primary-color);
  margin: -.5rem 0 .5rem 0;
}

.resultado {
  margin: .8rem 0 0 0;
}

.resultado span {
  color: green;
  font-size: 1.2rem;
}